﻿@import "authorization.css";
@import "index.css";

.removeEmail {
    background-color: white;
    color: black;
    border: 1px solid #f44336;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
    margin: 5px 0px 0px 0px;
}




a:link {
    background-color: #c2c2c2;
    color: #808080;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #808080;
    color: #ffffff;
    text-decoration: none;
}

.signout {
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    color: #808080;
}

.content-container {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #ececec;
    padding: 50px;
}

.text{
    font-size: 20px;
}
