﻿.registrationform-title {
    color: black;
    font-size: 20px;
}

.registrationform-message {
    margin-top: 10px;
    margin-bottom: 10px;
    color: darkred;
    font-size: 15px;
}

.registrationform-input {
    padding-top: 5px;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;

}

.registrationform-line {
    width: 100%;
    height: 2px;
    background: #BCBCBC;
   margin-bottom: 15px;
   margin-top: 5px;
}

.registrationform-progress-message {
    height: 40px
}

