﻿.index-signout-container {
    float: right;
    padding: 10px
}

.signout-link {
    text-decoration: none;
    color: #414141;
}

.index-input-time {
    font-size: 20px;
    border: 1px solid #b3b3b3;
    width: 60px;
    padding: 5px
}

.index-line {
    width: 100%;
    height: 1px;
    background: #808080;
    margin-top: 10px;
    margin-bottom: 10px
}

.index-table {
    width: 100%;
}

.index-container-emails {
    background-color: white;
    color: black;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    padding: 8px 8px 8px 8px;
}

/*.index-container-emails-add-content {
    margin: 5px;
}*/



.index-container-email-input {
    float: left;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 40%;
}

.index-container-email-input-textarea {
    resize: none;
    white-space: nowrap;
    border: none;
    width: 70%;
    overflow: hidden;
    outline: 0;
    float: left;
}

.index-container-email-item {
    background-color: #fafafa;
    float: left;
    padding: 5px;
    margin: 10px;
    border: 1px solid #808080;
    /*border-radius: 6px;*/
}