﻿@{
    ViewData["Title"] = "Authorization";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .main-conatiner {
            border-style: solid;
            border-color: lightgrey;
            border-width: 1px;
            border-radius: 10px;
            min-height: 400px;
            padding: 50px;
            margin: 200px auto;
            width: 400px;
        }

        .title1 {
            font-family: "Arial Black", Gadget, sans-serif;
            font-size: 33px;
            text-align: center;
            color: rgb(2, 41, 112);
        }

        .title2 {
            padding-top: 10px;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 23px;
            font-weight: 500;
            line-height: 1.3333;
            text-align: center;
        }

        .title3 {
            font-family: Verdana, Geneva, sans-serif;
            line-height: 2;
            font-size: 16px;
            text-align: center;
        }

        .line {
            height: 1px;
            margin: 30px;
            background: lightgrey;
        }

        .success-message {
            margin-top: 100px;
            font-family: Arial, Helvetica, sans-serif;
            color: darkgreen;
            font-size: 27px;
            text-align: center;
        }

        .error-message {
            margin-top: 100px;
            font-family: Arial, Helvetica, sans-serif;
            color: darkred;
            font-size: 27px;
            text-align: center;
        }
    </style>

    <title>Document</title>
</head>

<body>

    <div class="main-conatiner">
        <h1 class="title1">Call Verify</h1>
        <div class="title2"><span>Authorization</span></div>
        <div class="title3"><span>with your Google Account</span></div>

        <div class="line"></div>


        @if (ViewBag.IsSuccessful)
        {
            <div class="success-message"><span>Success!</span></div>

        }
        else
        {
            <div class="error-message">
                <p>Error!</p>
                <p style="font-size: 20px;">@ViewBag.ErrorMessage</p>
            </div>

        }


    </div>
</body>

</html>

