﻿
@{
    ViewData["Title"] = "PostPubSubMessage";
}

<html>
<head>
    <meta name="google-site-verification" content="9Gw4G9ONjaQGCZ2y811LSR2-yD0l0SwWnkEZ721jhnA" />
    <title> My title </title>
</head>
<body>
    Success!
</body>
</html>

