﻿
@{
    ViewData["Title"] = "GetStatisticByEmail";
}

<!DOCTYPE HTML>

<html>
<head>
    <link rel="stylesheet" href="~/css/devstatistic.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
</head>
<body class="landing">
    <!-- Banner -->
    <section id="banner">
        <h2>Statistic</h2>
    </section>

    <section class="special" style="margin-top: 2em">
        <div class="inner">
            <div class="container 75%">
                <div class="row uniform 50%">
                    <div class="12u$">
                        <input id="email" name="email" placeholder="Email" type="email" value="@ViewBag.Email" />
                    </div>
                </div>
            </div>
            <ul class="actions" style="margin-top: 2em">
                <li><input id="sendDevStatistic" type="submit" class="special" value="Send Dev statistic" /></li>
            </ul>
            <ul class="actions" style="margin-top: 2em">
                <li><input id="sendPurchaseLogs" type="submit" value="Send purchase logs" /></li>
            </ul>


            <hr />

            <ul class="actions" style="margin-top: 2em">
                @*<li><input id="sendDevLogs" type="submit" value="Send dev logs to email" /></li>*@
                <li><input id="showDevLogs" type="submit" value="Show dev logs" /></li>
            </ul>

            <hr />

            @*<ul class="actions" style="margin-top: 2em">
                <li><input id="test" type="submit" value="Test call controller" /></li>
            </ul>*@


            <div id="result"></div>

        </div>
    </section>

    <script>

        (function ($) {

            var processingMessage = "<p> <span style =\"color: DarkGray; font-size: 20px\">Processing ...";

            $("#sendDevStatistic").click(function () {
                var email = $("#email").val();
                $('#result').html(processingMessage);
                $.ajax({
                    url: "/api/dev/statistic/devlogs",
                    type: 'POST',
                    dataType: 'text',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(email),
                    success: function (data) {
                        $('#result').html("<p> <span style =\"color: darkgreen; font-size: 20px\">" + data);
                    },
                    error: function () {
                        $('#result').html("<span style =\"color: darkred; font-size: 20px\">Something went wrong. Can`t send data!</span>");

                    }
                });

            });

            $("#sendPurchaseLogs").click(function () {
                $('#result').html(processingMessage);
                var email = $("#email").val();

                $.ajax({
                    url: "/api/dev/statistic/purchaselogs",
                    type: 'POST',
                    dataType: 'text',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(email),
                    success: function (data) {
                        $('#result').html("<p> <span style =\"color: darkgreen; font-size: 20px\">" + data);
                    },
                    error: function () {
                        $('#result').html("<span style =\"color: darkred; font-size: 20px\">Something went wrong. Can`t send data!</span>");

                    }
                });
            });


            $("#showDevLogs").click(function () {
                $('#result').html(processingMessage);
                var email = $("#email").val();

                $.ajax({
                    url: "/api/dev/statistic/ShowDevLogs",
                    type: 'POST',
                    dataType: 'text',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(email),
                    success: function (data) {

                        var container = $('#result');
                        container.html("");
                        var list = JSON.parse(data);
                        console.log(list);
                        for (var i = 0; i < list.length; i++) {
                            container.append("<b>" + list[i].event + "<br>");
                            container.append(list[i].message + "<br>");
                            container.append(list[i].dateTime + "<br>");
                            container.append("<br>");
                        }
                    },
                    error: function () {
                        $('#result').html("<span style =\"color: darkred; font-size: 20px\">Something went wrong. Can`t send data!</span>");

                    }
                });
            });

            $("#test").click(function () {
                
                $('#result').html("");

                var phoneNumber = "+123456789";



                $.ajax({
                    url: "/api/Call",
                    type: 'POST',
                    dataType: 'text',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(phoneNumber),
                    success: function (response) {

                        console.log(new Date().getMinutes() + ":" + new Date().getMilliseconds());
                        console.log(response);

                        var container = $('#result');
                        container.append("<p><b>Response 1</b><br>" + response);


                    },
                    error: function (error) {
                        $('#result').html("<span style =\"color: darkred; font-size: 20px\">Something went wrong.</span>");
                        $('#result').append(error);

                    }
                });

                console.log("-------------------------------------------");
                console.log(new Date().getMinutes() + ":" + new Date().getMilliseconds());
                console.log("-------------------------------------------");


                $.ajax({
                    url: "/api/Call",
                    type: 'POST',
                    dataType: 'text',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(phoneNumber),
                    success: function (response) {
                        console.log(new Date().getMinutes() + ":" + new Date().getMilliseconds());
                        console.log(response);

                        var container = $('#result');
                        container.append("<p><b>Response 2</b><br>" + response);


                    },
                    error: function (error) {
                        $('#result').html("<span style =\"color: darkred; font-size: 20px\">Something went wrong.</span>");
                        $('#result').append(error);

                    }
                });

            });


        })(jQuery);

    </script>
</body>
</html>



