﻿
@{
    ViewData["Title"] = "Get";
}

<h2>Get</h2>

@{

    if (string.IsNullOrEmpty(ViewBag.Token))
    {
        <p>No token</p>
    }
    else
    {
        <p>@ViewBag.Token</p>
    }

    if (string.IsNullOrEmpty(ViewBag.UserId))
    {
        <p>No UserId</p>
    }
    else
    {
        <p>@ViewBag.UserId</p>
    }

}

