﻿
@{
    ViewData["Title"] = "PostPurchaseInfo";
    Layout = null;
}

<html>
<head>
    <meta name="google-site-verification" content="b0qY42QyWzRaa0I61K6Dui_XS8qcCi1oF7cJQJF078o" />
    <title> Мой заголовок </title>
</head>
<body>
    содержание страницы
</body>
</html>