﻿
@{
    ViewData["Title"] = "Get";
    Layout = null;
}

<html>
<head>

    <title> Мой заголовок </title>
</head>
<body>



    <div style="margin-top:100px">

        <h3>Access token:</h3>
        <p>@ViewBag.FirstResponse</p>
    </div>

    <div style="margin-top:100px">

        <h3>Purchases.products resource:</h3>
        <p>@ViewBag.SecondResponse</p>
    </div>


</body>
</html>

