﻿@model CallBlocker.Models.AccountViewModels.LoginWithSettingsViewModel
@{
    Layout = "~/Views/StatisticSettings/_LayoutSettings.cshtml";
}
<div class="content-container">
    @using (Html.BeginForm("AuthorizationPost", "StatisticSettings", FormMethod.Post))
    {
        <div class="registrationform-title">
            <p>Enter your email</p>
        </div>
        <div class="registrationform-message">
            <div>
                <p>@ViewBag.Error</p>
            </div>
        </div>
        @Html.TextBoxFor(model => model.AdminEmail, new { @type = "email", @class = "registrationform-input", @placeholder = "example@mail.com" })

        <div class="registrationform-line">
        </div>
        <input id="inputSignin" type="submit" value="Sign in" class="btn btn-primary btn-lg" />
    }
    <div id="signInInfoDiv" class="registrationform-progress-message">
    </div>
</div>


<script src="~/js/authorization.js" asp-append-version="true"></script>



