﻿@model CallBlocker.Models.Settings.TodayStatisticSettings
@{
    Layout = "~/Views/StatisticSettings/_LayoutSettings.cshtml";
}
<div class="index-signout-container">
    @Html.ActionLink("Sign out", "Logout", "StatisticSettings", null, new { @class = "signout-link" })
</div>
<div class="content-container">
    <div class="text">
        <p>
            Daily statistics sent at <input id="sendTodayStatisticHoursInput" type="number" name="time" min="00" max="23" onblur="CheckHoursMinutesInput()" onclick="ShowInputById(inputSaveInForm)" class="index-input-time" value="@Model.SendTodayStatisticHours" />  :
            <input id="sendTodayStatisticMinutesInput" type="number" name="time" min="00" max="59" onblur="CheckHoursMinutesInput()" onclick="ShowInputById(inputSaveInForm)" class="index-input-time" value="@Model.SendTodayStatisticMinutes" /> Arizona time
        </p>
    </div>
    <div class="index-line">
    </div>
    <div class="text">
        <p>Admin Emails:</p>
    </div>
    <table class="index-table">
        <tbody class="index-container-emails">
            <tr>
                <td>
                    <div id="container" class="index-container-emails-add-content">
                    </div>
                    <div id="inputEmailDiv" class="index-container-email-input">
                        <textarea id="inputEmailTxtArea" placeholder="example@mail.com" rows="1" class="index-container-email-input-textarea"></textarea>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="height:80px; margin-top:20px">
        <input id="inputSaveInForm" type="hidden" value="Save" class="btn btn-primary btn-lg" onclick="SaveTodayStatisticSettings()" />
    </div>
    <div id="result" style="height:50px">
    </div>
</div>



<script src="~/js/index.js" asp-append-version="true"></script>

